@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

html, body {
  height: 100%;
  position: relative;
  }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.11vw;
  }

a {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  color: #a9a9a9;
  }
a:hover,
a:focus {
  color: #ad9356;
  text-decoration: none;
  }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 70px;
  line-height: 80px;
  }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2vw;
  line-height: 1vw;
  text-transform: uppercase;
  margin: 0 0 2.3vw;
  }

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 2.7vw;
  line-height: 3.4vw;
  }

h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.33vw;
  line-height: 2.05vw;
  }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.67vw;
  }

.content-wrapper {
  margin: 0 13%;
  }

.header-nav {
  background-color: #1f1e1c;
  }
.header-nav .navbar {
  background: none;
  border: none;
  margin: 0 8%;
  }
.header-nav .navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 1vw;
  text-shadow: none;
  }
.header-nav .navbar-default .navbar-nav>.active>a,
.header-nav .navbar-default .navbar-nav>.open>a {
  background: none;
  color: #ad9356;
  }
.header-nav .navbar-default .navbar-nav a:hover {
  color: #ad9356;
  }
.header-nav .navbar-right p {
  padding: 15px 8px;
  margin-bottom:0;
  font-size: 1vw;
  color: #fff;
  }
.header-nav .navbar-right a {
  display: inline-block;
  font-size: 1vw;
  padding: 15px 8px;
  }
.header-nav .navbar-right .feedback a {
  position: relative;
  color: #999 !important;
  }
.header-nav .navbar-right .feedback a i {
  position: absolute;
  height: 1px;
  width: 89%;
  border-bottom: 1px dashed #999;
  }
.header-nav .navbar-right li.soc a {
  font-size: 1.3vw;
  padding: 15px 3px;
  }

.main-course {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent url('../img/large-bg.jpg') no-repeat scroll 50% 50%;
  background-size: cover;
  height: 51vw;
  max-height: 720px;
  }
.main-course .block-wrapper {
  width: 60vw;
  height: 35vw;
  border: 0.8vw solid #ad9356;
  background: #fff;
  display: flex;
  align-items: center;
  }
.main-course .block {
  text-align: center;
  padding: 0 5vw;
  }
.main-course .block header {
  text-align: center;
  font-size: 3.6vw;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  }
.main-course .block .date {
  color: #999;
  margin: 0.5vw 0 1.6vw;
  }
.main-course .block .dscr p {}
.main-course .block .button {
  margin-top: 3vw;
  }
.main-course .block .button button {
  text-transform: uppercase;
  border: 0;
  background: #ad9356;
  color: #fff;
  padding: 1vw 5vw;
  text-shadow: 0 0 0.1vw #ccc;
  }

.main-dscr {
  margin: 5vw 0;
  text-align: center;
  }
.main-dscr header {
  font-size: 1.9vw;
  line-height: 2vw;
  margin-bottom: 2vw;
  }
.main-dscr p {}

.modules-block {
  padding: 5vw 0;
  background: #f2f2f2;
  }
.modules-block h3 {
  text-align: center;
  }
.modules-block .header-dscr {
  text-align: center;
  margin-bottom: 2vw;
  }
.modules-block .header-dscr p {
  display: inline-block;
  color: #fff;
  padding: 0.5vw 1vw;
  background: #000;
  }
.modules-block .modules-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
.modules-block .modules-list .item {
  width: 35.652vw;
  margin-bottom: 1.7vw;
  background: #fff;
  }
.modules-block .modules-list .item .img {
  height: 18vw;
  background: transparent no-repeat scroll 0 0;
  background-size: cover;
  }
.modules-block .modules-list .item .img span {
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  background: #fff;
  overflow: hidden;
  padding: 0.7vw 1.5vw;
  font-size: 0.9vw;
  }
.modules-block .modules-list .item .dscr {
  padding: 2vw;
  }
.modules-block .modules-list .item .header {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3vw;
  letter-spacing: 0.1vw;
  }
.modules-block .modules-list .item .date {
  color: #999;
  margin: 0.6vw 0 1.5vw;
  font-size: 0.97vw;
  }
.modules-block .modules-list .item .text p {
  font-size: 0.97vw;
  }
.modules-block .modules-list .item .button {
  margin-top: 1.5vw;
  }
.modules-block .modules-list .item .button button {
  background: none;
  border: 0.25vw solid #ad9356;
  padding: 0.7vw 1vw;
  color: #ad9356;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.95vw;
  letter-spacing: 0.1vw;
  }
/*.modules-block .modules-wrapper .modules-form-price {}
.modules-block .modules-wrapper .modules-form-price .modules-price {}
.modules-block .modules-wrapper .modules-form-price .modules-form {}*/

.reviews {
  position: relative;
  padding: 5vw 0;
  }
.reviews h3 {
  text-align: center;
  margin-bottom:4vw;
  }
.reviews .swiper-container {
  margin: 0 22%;
  padding-bottom: 1vw;
  }
.reviews .swiper-wrapper {}
.reviews .swiper-slide {
  padding: 2vw 2vw 3vw;
  border: 1px solid #ccc;
  }
.reviews .swiper-slide .photo {
  width: 4.56vw;
  height: 4.56vw;
  border-radius: 50%;
  float: left;
  margin-right: 1vw;
  }
.reviews .swiper-slide .dscr {
  overflow: hidden;
  }
.reviews .swiper-slide .name {
  text-transform: uppercase;
  font-weight:800;
  text-decoration: underline;
  margin-bottom:1vw;
  }
.reviews .swiper-slide .text {
  font-size: 0.95vw;
  }
.reviews .swiper-arrows {
  width: 4vw;
  height: 4vw;
  top: 55%;
  background: transparent no-repeat scroll 0 0;
  background-size: contain;
  }
.reviews .swiper-button-next {
  right: 15%;
  background-image: url('data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QOLaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzEzMiA3OS4xNTkyODQsIDIwMTYvMDQvMTktMTM6MTM6NDAgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6MDU4MDExNzQwNzIwNjgxMTgyMkE5Qjk5NUI4QTlENjEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUU5NjVFMzEwRDZEMTFFN0JDNTlERDNCN0I5NTUwREQiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUU5NjVFMzAwRDZEMTFFN0JDNTlERDNCN0I5NTUwREQiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowZDU5MTRmOC02Y2RlLWM5NDctYWZiOS1hZGE4MjVmOGQ4YjciIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDpkZTM3YjFmZS0wNGI3LTExZTctYWM0Mi1jOTlmNDVmNTY1ZDAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCABBAEEDAREAAhEBAxEB/8QAcQABAQEAAwEAAAAAAAAAAAAAAAYDAgcIBAEBAQAAAAAAAAAAAAAAAAAAAAEQAAEEAAIHBgQHAQAAAAAAAAEAAgMEBQYRITGx0RQHQUJyklM0EiIyE1FhcZFSojMIEQEBAAAAAAAAAAAAAAAAAAAAAf/aAAwDAQACEQMRAD8A9QVq1Y1oiYmEljSSWj8EGnK1fRZ5RwQOVq+izyjggcrV9FnlHBA5Wr6LPKOCBytX0WeUcEDlavos8o4IHK1fRZ5RwQTiCjq+1h8DdwQaoCAgICAgIJdBR1faw+Bu4INUBBMZ16lZOyXyIzDeFV+ISiKvGAXv0E6HSuaNYjZ3nIKSGaGeFk0L2ywytD45GEOa5rhpDmkaiCEHNAQEEugo6vtYfA3cEGqAg6F/6N6G3M0B+bsvfcnxqtEGXMNLi/78MY1GAEn4ZGjuDU7s+b6pR1z0E692Mp2Isr5ole/Lr3/BWsv0l9F5Ow9v2dO0d3aO0JKr17DNDPCyaF7ZYZWh8cjCHNc1w0hzSNRBCqOaAgl0FHV9rD4G7gg1QEHUXXTrpSyLSdhGEOZZzXZZpjjOhzKjHDVLKP5HuM7dp1bYPP8A0f6P471Ox+bGMXkljwJs7pcUxJ3+lmZzvjfFETte4nS53d/XQEV7TwrC8PwnDa2GYdA2tRpxthrQM+ljGDQBr1/uqj6kBBLoKOr7WHwN3BBqgIOuup3Q7KWf7tK/fL6WIVXsE9quAHz1wfmhk0/1ftb+exBdYRhGGYNhlbC8LrMqUKjBHXrxjQ1rRvJ2knWTrKD60BAQS6Cjq+1h8DdwQaoCAgICAgIJdBR1faw+Bu4INUBAQEBAQEEugICAgICAgICAg//Z');
  }
.reviews .swiper-button-prev {
  left: 15%;
  background-image: url('data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QOLaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzEzMiA3OS4xNTkyODQsIDIwMTYvMDQvMTktMTM6MTM6NDAgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6MDU4MDExNzQwNzIwNjgxMTgyMkE5Qjk5NUI4QTlENjEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUU5NjVFMjkwRDZEMTFFN0JDNTlERDNCN0I5NTUwREQiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUU5NjVFMjgwRDZEMTFFN0JDNTlERDNCN0I5NTUwREQiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowZDU5MTRmOC02Y2RlLWM5NDctYWZiOS1hZGE4MjVmOGQ4YjciIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDpkZTM3YjFmZS0wNGI3LTExZTctYWM0Mi1jOTlmNDVmNTY1ZDAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCABBAEEDAREAAhEBAxEB/8QAbgABAQEBAQEAAAAAAAAAAAAAAAYDCAcCAQEBAAAAAAAAAAAAAAAAAAAAARAAAQMBBAgFAwUAAAAAAAAAAQACAwQRIQUGMbHRcpJTFDRBIkIHCFESMpETM0MkEQEBAAAAAAAAAAAAAAAAAAAAAf/aAAwDAQACEQMRAD8A6gpqamNNETEwksaSS0fRBp0tLyWcI2IHS0vJZwjYgdLS8lnCNiB0tLyWcI2IHS0vJZwjYgdLS8lnCNiB0tLyWcI2IJxBR0vaw7jdQQaoCAgICAgIJdBR0vaw7jdQQaoCAgkct+62RsyZkxHLuEYiyfEsOPnboZMB+boH22SBhudZqvQVyAgIJdBR0vaw7jdQQaoCDl35B/IPqupyfk+p/wAt8WLYtEf5PB0EDh6PB7x+WgXaZaNvjh7EVjKmjzzmRslMIiJsEw+10cjiR5aiWywhth8jPVpN1xQdOKggIJdBR0vaw7jdQQaoPmSOOWN0cjQ+N4LXscAWlpFhBB0goOQPf32CmyrNNmbLMLpMtyO+6qpW2udROcf1MJOg+nQfAqWK9A+PvyBbjbafKWbJwMZaBHhmJSGwVQFzYpSf7vofXvfklR0CqCAgl0FHS9rDuN1BBqgIPiaGGeF8MzGywytLJI3gOa5rhYWuBuIIQec5N9g8iZUzdW5loIXSTyu+7DqWWx0VF9w8/wCzbeSToJvaLgg9JQEBBLoKOl7WHcbqCDVAQEBAQEBBLoKOl7WHcbqCDVAQEBAQEBBLoCAgICAgICAgIP/Z');
  }
.reviews .swiper-button-next:hover {
  background-image: url('data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QOLaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzEzMiA3OS4xNTkyODQsIDIwMTYvMDQvMTktMTM6MTM6NDAgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6MDU4MDExNzQwNzIwNjgxMTgyMkE5Qjk5NUI4QTlENjEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTUzMUY3RkUwRDZEMTFFN0E3RjFGMzU4RUQ1QzQxMjEiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MTUzMUY3RkQwRDZEMTFFN0E3RjFGMzU4RUQ1QzQxMjEiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowZDU5MTRmOC02Y2RlLWM5NDctYWZiOS1hZGE4MjVmOGQ4YjciIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDpkZTM3YjFmZS0wNGI3LTExZTctYWM0Mi1jOTlmNDVmNTY1ZDAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCABBAEEDAREAAhEBAxEB/8QAewABAQEBAQEBAAAAAAAAAAAAAAYDBQEHCAEBAAMBAQAAAAAAAAAAAAAAAAMEBQECEAABBAACCQMDBQEAAAAAAAABAAIDBAUGEUGx0XKSUxQ0MVESIXFC8GHBMrITEQEAAQUAAwEBAAAAAAAAAAAAARExAgMEIRIysSL/2gAMAwEAAhEDEQA/AP1BWrVjWiJiYSWNJJaPZBp2tXos5RuQO1q9FnKNyB2tXos5RuQO1q9FnKNyB2tXos5RuQO1q9FnKNyB2tXos5RuQTiCjq+LDwN2BBqgICAgICAgl0FHV8WHgbsCDVAQczGcyYTgxhF6b4OncGsaB8iBreQPxGsqHb0Ya6e03SYassrOkx7JGNkjcHseA5rmnSCD9QQQpYmqN6uggIJdBR1fFh4G7Ag1QEETn7JcmJg4pQ0uuxtAlg0k/wDRjfT4ezh7a/v65vbye/8AWP0tc+/18TZO5JztJhMjcOxFxdh7joa46S6FxP8An3GpVOPsnCfXL5/E+/R7eYu+rseyRjZI3B7HgOa5p0gg/UEELcias56uggl0FHV8WHgbsCDVAQSmdc6xYNEadQiTE5B9xED+Tv39h+jR7OyNcUj6/FjRo9vM2RGU8pXMxXXXLbntoh5dYnP9pXk6S1pOs6zqWby8s7ZrPyt7t0YRSLvr1atBWrx167BHDE0NjY30AC38cYiKRZmzNZrLRdcEEugo6viw8DdgQaoCDhZiydhWOSwzWNMU8RHylj0Bz4x6sd/B1Krv5MdkxM3Ta904WdmrVr1a8devGIoIh8Y42/QABWMcYxikWRTMzNZaL04ICCXQUdXxYeBuwINUBAQEBAQEEugo6viw8DdgQaoCAgICAgIJdAQEBAQEBAQEBB//2Q==');
  }
.reviews .swiper-button-prev:hover {
  background-image: url('data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QOLaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzEzMiA3OS4xNTkyODQsIDIwMTYvMDQvMTktMTM6MTM6NDAgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6MDU4MDExNzQwNzIwNjgxMTgyMkE5Qjk5NUI4QTlENjEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTUzOTk5MjMwRDZEMTFFN0E3RjFGMzU4RUQ1QzQxMjEiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MTUzOTk5MjIwRDZEMTFFN0E3RjFGMzU4RUQ1QzQxMjEiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowZDU5MTRmOC02Y2RlLWM5NDctYWZiOS1hZGE4MjVmOGQ4YjciIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDpkZTM3YjFmZS0wNGI3LTExZTctYWM0Mi1jOTlmNDVmNTY1ZDAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCABBAEEDAREAAhEBAxEB/8QAfgABAQEAAwEAAAAAAAAAAAAAAAYDAQUHCAEBAQEBAQAAAAAAAAAAAAAAAAMEBQEQAAIBAgELAgYDAQAAAAAAAAABAgMEBREhUbHRcpJTFDQGMUFxEiJCYhNhMsIHEQEAAgECBwEBAAAAAAAAAAAAAQIEEQMhMYGxEiJC8TL/2gAMAwEAAhEDEQA/APqC2trZ21JulBtwi23FaANOlteTDhWwB0tryYcK2AOlteTDhWwB0tryYcK2AOlteTDhWwB0tryYcK2AOlteTDhWwCcAo7XtaO5HUgNQAAAAAAAJcCjte1o7kdSA1AAAOssPJMGv8QuLC1uFUuLf+0faWlwf3ZHmeQjTIpa01ieMKW2rRGsuzLJgACXAo7XtaO5HUgNQAHnHnfnfzfswnCan0543V1F+umEHo0s5Gbm/FOst2Pj/AFZx/wA+8Lrfto41f/NSjD67Oim4yl+csn26F7/D1YOJOsXt0Mjf+YekHXYQABLgUdr2tHcjqQGoHEoxlFxkk4yWRp500wPJ/OPB54VOWIYfFyw6Tyzgs7ot/wCNDOFmYfh7V/ns6Oxv+XCeah8F85V8qeF4nPJer6beu/SqvaMvz1/H114Wb5etufdHI2NOMclwdJkAAEuBR2va0dyOpAagAOJwhUhKnUipwmnGUZLKmnmaaZ5MaidwjwXBcMxWriNKLnJvLbUp540cvr8un+MvoZdrCpS82j8Xvv2tGijNaAAAlwKO17WjuR1IDUAAAAAAACXAo7XtaO5HUgNQAAAAAAAJcAAAAAAAAAAAf//Z');
  }

.about-us-wrapper {
  background: #f2f2f2;
  }
.about-us-wrapper .about-us {
  background: #fff;
  -webkit-box-shadow: 0 0 22px #d8d8d8;
  -moz-box-shadow: 0 0 22px #d8d8d8;
  box-shadow: 0 0 22px #d8d8d8;
  padding: 6vw 3vw;
  }
.about-us-wrapper .about-us h3 {
  text-align: center;
  margin-bottom:4vw;
  }
.about-us-wrapper .about-us .about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  }
.about-us-wrapper .about-us .about-list .item {
  width: calc(33% - 1vw);
  margin-bottom: 3vw;
  }
.about-us-wrapper .about-us .about-list .item .img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width:98px;
  height:50px;
  background: transparent url("../img/elipsis.png") no-repeat scroll 0 0;
  -webkit-background-size:contain;
  background-size: contain;
  }
.about-us-wrapper .about-us .about-list .item .img img {

  }
.about-us-wrapper .about-us .about-list .item header {
  text-transform: uppercase;
  font-weight: 800;
  height: 4vw;
  margin-top: 2vw;
  }
.about-us-wrapper .about-us .about-list .item .dscr {}
.about-us-wrapper .about-us .about-list .item .dscr p {
  font-size: 0.97vw;
  }

.modules-form-price {
  display: flex;
  justify-content: space-between;
  margin-top:2vw;
  flex-wrap: wrap;
  }
.modules-form-price .modules-price-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(65% - 2vw);
  background: #fff;
  border: 0.8vw solid #e3e3e3;
  height: 23vw;
  }
.modules-form-price .modules-price {
  padding: 0 3vw;
  }
.modules-form-price .modules-price header {
  font-weight: 800;
  font-size: 2vw;
  line-height: 2vw;
  text-transform: uppercase;
  }
.modules-form-price .modules-price .price {
  color: #ad9356;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 800;
  letter-spacing: 0.25vw;
  }
.modules-form-price .modules-price .card {
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  font-size: 1.2vw;
  margin-top: 0.6vw;
  }
.modules-form-price .modules-price .card span {
  display: block;
  font-weight: 800;
  text-transform: uppercase;
  }
.modules-form-price .modules-price .card i {
  font-style: normal;
  font-weight: 400;
  color: #ad9356;
  font-size: 0.7vw;
  display: inline-block;
  vertical-align: middle;
  }
.modules-form-price .modules-price .logo {
  position: absolute;
  top: 1vw;
  right: -2.5vw;
  width: 23vw;
  }
.modules-form-price .modules-price .logo img {
  width: 100%;
  }
.modules-form-price .modules-form {
  width: calc(35% - 2vw);
  }
.modules-form-price .modules-form .form-group {
  margin-bottom: 1.44vw;
  }
.modules-form-price .modules-form form .form-group input {
  border-radius: 0;
  padding: 2.2vw 1vw;
  }
.modules-form-price .modules-form form > input {
  border: 0;
  background: #ad9356;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1.7vw 0;
  letter-spacing: 0.2vw;
  }

.another-courses {
  padding: 6vw 0;
  margin-top: 4vw;
  background: #f2f2f2;
  }
.another-courses h3 {
  text-align: center;
  }
.another-courses .another-courses-list {
  display: flex;
  flex-wrap: wrap;
  }
.another-courses .item {
  margin: 0 auto;
  }
.another-courses .item header {
  font-weight: 800;
  font-size: 1.2vw;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom:1vw;
  }
.another-courses .item .date {
  color: #999;
  font-size: 0.97vw;
  }

footer {
  background: #1f1e1c;
  padding: 3vw 0;
  color: #fff;
  }
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
.footer-wrapper .logo {
  flex: 2;
  }
.footer-wrapper .footer-nav {
  flex: 1;
  list-style-type: none;
  }
.footer-wrapper .footer-nav a {
  display: block;
  margin-bottom: 1vw;
  color: #fff;
  }
.footer-wrapper .copyright {
  flex: 1;
  }
.footer-wrapper .copyright p {
  margin-bottom:0.9vw;
  }
.footer-wrapper .copyright a {
  color: #fff;
  }
.footer-wrapper .copyright a:hover,
.footer-wrapper .footer-nav a:hover {
  color: #ad9356;
  }
.footer-wrapper .copyright .soc {
  font-size: 1.4vw;
  }
.footer-wrapper .copyright .soc a {
  margin-right:0.6vw;
  }
