html, body {
  height: 100%;
  position: relative;
  }

body {
  font-family: 'OpenSans';
  font-weight: 400;
  color: #4f5556;
  font-size: 1.11vw;
  }

a {
  cursor: pointer;
  color: #a9a9a9;
  }
a:hover,
a:focus {
  color: #E81D21;
  text-decoration: none;
  }

h1 {
  font-family: 'OpenSans';
  font-weight: 200;
  color: #fff;
  font-size: 70px;
  line-height: 80px;
  }

h3 {
  font-family: 'OpenSans';
  font-weight: 200;
  color: #fff;
  font-size: 3.6vw;
  line-height: 3.7vw;;
  }

h4 {
  font-family: 'OpenSans';
  font-weight: 200;
  color: #fff;
  font-size: 2.7vw;
  line-height: 3.4vw;
  }

h6 {
  font-family: 'OpenSans';
  font-weight: 300;
  color: #fff;
  font-size: 1.33vw;
  line-height: 2.05vw;
  }

p {
  font-family: 'OpenSans';
  font-weight: 400;
  color: #4f5556;
  font-size: 1.11vw;
  line-height: 1.67vw;
  }

.header-nav {
  background-color: #1f1e1c;
  }
.header-nav .navbar {
  background: none;
  border: none;
  margin: 0 8%;
  }
.header-nav .navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: none;
  }
.header-nav .navbar-default .navbar-nav>.active>a,
.header-nav .navbar-default .navbar-nav>.open>a {
  background: none;
  color: #ad9356;
  }
.header-nav .navbar-default .navbar-nav a:hover {
  color: #ad9356;
  }

.main-course {}
.main-course .block {}
.main-course .block .date {}
.main-course .block .dscr {}
.main-course .block .button {}

.main-dscr {}
.main-dscr header {}
.main-dscr p {}

.modules-block {}
.modules-block .modules-wrapper {}
.modules-block .modules-wrapper header {}
.modules-block .modules-wrapper .header-dscr {}
.modules-block .modules-wrapper .modules-list {}
.modules-block .modules-wrapper .modules-list .item {}
.modules-block .modules-wrapper .modules-list .item .img {}
.modules-block .modules-wrapper .modules-list .item .img span {}
.modules-block .modules-wrapper .modules-list .item .header {}
.modules-block .modules-wrapper .modules-list .item .date {}
.modules-block .modules-wrapper .modules-list .item .dscr {}
.modules-block .modules-wrapper .modules-list .item .dscr p {}
.modules-block .modules-wrapper .modules-list .item .button {}
/*.modules-block .modules-wrapper .modules-form-price {}
.modules-block .modules-wrapper .modules-form-price .modules-price {}
.modules-block .modules-wrapper .modules-form-price .modules-form {}*/

.reviews {}
.reviews header {}
.reviews .swiper-container {}
.reviews .swiper-wrapper {}
.reviews .swiper-slide {}
.reviews .swiper-slide .name {}
.reviews .swiper-slide .dscr {}
.reviews .swiper-slide .dscr p {}
.reviews .swiper-button-next {}
.reviews .swiper-button-prev {}

.about-us {}
.about-us header {}
.about-us .about-list {}
.about-us .about-list .item {}
.about-us .about-list .item .img {}
.about-us .about-list .item header {}
.about-us .about-list .item .dscr {}
.about-us .about-list .item .dscr p {}

.modules-form-price {}
.modules-form-price .modules-price {}
.modules-form-price .modules-form {}

.another-courses {}
.another-courses .item {}
.another-courses .item header {}
.another-courses .item .date {}

footer {}
footer .logo {}
footer .footer-nav {}
footer .copyright {}
footer .copyright .soc {}
